*{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*PALETA DE CORES DO SITE*/
:root{
    --VermelhoBase: #b81515;
    --VermelhoClaro: #db6161;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Ciano: #00ffff;
    --SombraCinza: #464646;
}

/* HEADER DO SITE*/
header{
    background-color: var(--VermelhoBase);
    height: 7.5rem;
    box-shadow: 0 3px 10px var(--SombraCinza);
}

.nav-bar{
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
}

.logo-icon{
    display: flex;
    align-items: center;

    #logo{
        width: 10rem;
    }
}

.nav-list{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .nav-link{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--Branco);
        transition: 0.5s;

        &:hover{
          color: var(--Ciano);
        }
    }
}

.nav-button{
    align-content: center;
}

.login-button{
    border: none;
    background-color: var(--Branco);
    padding: 0.625rem 0.938rem;
    border-radius: 5px;
    transition: 0.5s;

    a{
        text-decoration: none;
        color: var(--VermelhoBase);
        font-size: 1.1rem;
    }

    &:hover{
        background-color: var(--SombraCinza);

        a{
            color: var(--Branco);
        }
    }
}

.mobile-menu-icon{
    display: none;
    align-content: center;

    button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            
        }
}

.mobile-menu{
    display: none;
    background-color:  var(--VermelhoBase);
    box-shadow: 0 3px 5px var(--SombraCinza);
}

/*MENU RESPONSIVO*/
@media screen and (max-width: 870px){
   .nav-bar{
        padding: 1.5rem 3rem;
   }

       .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{ 
        display: block;
        padding-top: 1,2rem;
    }

    .mobile-menu .login-button-2{
        display: block;
        padding: 1rem 2rem;
        border: none;
    
        button{
            width: 100%;
            height: 2rem;
            border: none;
            border-radius: 10px;
            transition: 0.5s;

            a{
                text-decoration: none;
                color: var(--VermelhoBase);
                font-size: 1.2rem;
            }
            
            &:hover{
                background-color: var(--SombraCinza);

                a{
                    color: var(--Branco);
                }
            }
        }
    }

    .open{
        display: block;
        position: relative;
        z-index: 10;
    }
    /*FIM DO MENU RESPONSIVO*/
}
/*FIM DO HEADER DO SITE*/



/* Estilização da página contato.html*/

form{
    max-width: 400px;
    margin: 20px;
    padding: 20px 40px 15px 20px;
    background-color: #F2C40D ;
    border: 2px solid #000000;
    border-radius: 10px;
    animation: fadein 1.5s ease-in-out;
}
@keyframes fadein {
from{
opacity: 0;

}    
to{
opacity: 1;

}
}

form input[type="text"]{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: background-color 300ms ease;
}
form input[type="text"]:active{
    background-color: #808080;
    outline: none;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}

textarea{
    border: 2px solid #000000;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    transition: background-color 300ms ease ;
    border-radius: 10px;
    margin-bottom: 5px;
    resize: none;
}
textarea:active{
    background-color: #808080;
    outline: none;
}
form .animado{
    width: 105%;
    font-size: 16px;
}

.animado{
    padding: 10px;
    border: none;
    color: white;
    background-color: #800c0c;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.3s ease;
}
.animado:hover{
    transform: scale(1.1);
}
.animado:active{
    background-color: #000000;
}
.seletor{
    font-size: 16px;
    padding: 10px 0px;
}
