*{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
/*PALETA DE CORES DO SITE*/
:root{
    --VermelhoBase: #b81515;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Ciano: #00ffff;
}

/*Transforma a Logo em um objeto clicável, serve de atalho para a home*/
#logo{
    cursor: pointer;
}

/* CABEÇALHO DO SITE*/
.cabecalho-back{
    background-color: var(--VermelhoBase);
    height: 120px;
    display: flex;
    flex-wrap: wrap;
}

.cabecalho-back-2{
    height: 80px;
    width: 100%;
    margin: 1.5em 1.5em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: cen;
}

    /* IMAGEM CABEÇALHO*/
    .cabecalho-img{
        width: 20%;
        text-align: center;
    }

    .cabecalho-img img{
        width: 10rem;
}
    /* IMAGEM CABEÇALHO*/


    /* NAVEGAÇÃO */
    .cabecalho-nav{
        width: 55%;
    }

    .cabecalho-naveg{
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        
    }

    .cabecalho-nav a{
        text-decoration: none;
        color: var(--Branco);
        font-size: 1.35rem;
        transition: 0.5s;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .cabecalho-nav a:hover{
        color: var(--Ciano);
    }
     /* NAVEGAÇÃO */


    /* BARRA DE PESQUISA */
    .cabecalho-pesquisa{
        margin-top: 1.5rem;
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .barra-pesquisa{
        height: 30px;
        width: 15em;
        border: 2px solid var(--Branco);
        border-radius: 20px;
        outline: none;
        background-color: var(--VermelhoEscuro);
        color: var(--Branco);
        padding-left: 1em;
        transition: 0.25s;
    }

    .cabecalho-pesquisa label{
        position: absolute;
        background: var(--VermelhoEscuro);
        border-radius: 10px;
        color: var(--Branco);
        left: 1em;
        top: 0.45em;
        cursor: text;    
    }

    .barra-pesquisa:hover{
        border: 2px solid var(--Cinza);
    }

    .barra-pesquisa:focus{
        border: 2px solid var(--Ciano)
    }
    /* BARRA DE PESQUISA */


/* FIM DO CABEÇALHO DO SITE*/

/* Estilização da página contato.html*/

form{
    max-width: 400px;
    margin: 20px;
    padding: 20px 40px 15px 20px;
    background-color: #F2C40D ;
    border: 2px solid #000000;
    border-radius: 10px;
    animation: fadein 1.5s ease-in-out;
}
@keyframes fadein {
from{
opacity: 0;

}    
to{
opacity: 1;

}
}

form input[type="text"]{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: background-color 300ms ease;
}
form input[type="text"]:active{
    background-color: #808080;
    outline: none;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}

textarea{
    border: 2px solid #000000;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    transition: background-color 300ms ease ;
    border-radius: 10px;
    margin-bottom: 5px;
    resize: none;
}
textarea:active{
    background-color: #808080;
    outline: none;
}
form .animado{
    width: 105%;
    font-size: 16px;
}

.animado{
    padding: 10px;
    border: none;
    color: white;
    background-color: #800c0c;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.3s ease;
}
.animado:hover{
    transform: scale(1.1);
}
.animado:active{
    background-color: #000000;
}
.seletor{
    font-size: 16px;
    padding: 10px 0px;
}
