* {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
}

/*PALETA DE CORES DO SITE*/
:root {
    --VermelhoBase: #b81515;
    --VermelhoClaro: #db6161;
    --ResaltoAmarelo: #ffc83c;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Cinza2: #e9e9e9;
    --Ciano: #00ffff;
    --SombraCinza: #464646;
}

/* HEADER DO SITE*/
header {
    background-color: var(--VermelhoBase);
    height: 7.5rem;
    box-shadow: 0 3px 10px var(--SombraCinza);
}

.nav-bar {
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
}

.logo-icon {
    display: flex;
    align-items: center;

    #logo {
        width: 10rem;
    }
}

.nav-list {
    display: flex;
    align-items: center;
}

ul {
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .nav-link {
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--Branco);
        transition: 0.5s;

        &:hover {
            color: var(--Ciano);
        }
    }
}

.nav-button {
    align-content: center;
}

.login-button {
    border: none;
    background-color: var(--Branco);
    padding: 0.625rem 0.938rem;
    border-radius: 5px;
    transition: 0.5s;

    a {
        text-decoration: none;
        color: var(--VermelhoBase);
        font-size: 1.1rem;
    }

    &:hover {
        background-color: var(--SombraCinza);

        a {
            color: var(--Branco);
        }
    }
}

.mobile-menu-icon {
    display: none;
    align-content: center;

    button {
        background-color: transparent;
        border: none;
        cursor: pointer;

    }
}

.mobile-menu {
    display: none;
    background-color: var(--VermelhoBase);
    box-shadow: 0 3px 5px var(--SombraCinza);
}

/*MENU RESPONSIVO*/
@media screen and (max-width: 870px) {
    .nav-bar {
        padding: 1.5rem 3rem;
    }

    .nav-item {
        display: none;
    }

    .login-button {
        display: none;
    }

    .mobile-menu-icon {
        display: block;
    }

    .mobile-menu ul {
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item {
        display: block;
        padding-top: 1, 2rem;
    }

    .mobile-menu .login-button-2 {
        display: block;
        padding: 1rem 2rem;
        border: none;

        button {
            width: 100%;
            height: 2rem;
            border: none;
            border-radius: 10px;
            transition: 0.5s;

            a {
                text-decoration: none;
                color: var(--VermelhoBase);
                font-size: 1.2rem;
            }

            &:hover {
                background-color: var(--SombraCinza);

                a {
                    color: var(--Branco);
                }
            }
        }
    }

    .open {
        display: block;
        position: relative;
        z-index: 10;
    }

    /*FIM DO MENU RESPONSIVO*/
}

/*FIM DO HEADER DO SITE*/



/* Estilização da página contato.html*/

.form-cont {
    width: 100%;
    margin: 20px;
    margin-top: 2rem;
    padding: 1em;
    animation: fadein 1.5s ease-in-out;
}

@keyframes fadein {
    from {
        opacity: 0;

    }

    to {
        opacity: 1;

    }
}

.form-cont input[type="text"] {
    width: 100%;
    padding: 5px;
    font-size: 16px;
    border: none;
    border-bottom: 1px solid;
}

.form-cont input[type="text"]:focus {
    outline: none;
    /* Remove o padrão do navegador */
    border-bottom: 2px solid var(--SombraCinza);
    /*Muda a borda de baixo*/
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    /* Adiciona uma sombra sutil*/
}

.lab-cont {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
    padding-top: 2rem;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

textarea {
    border: none;
    border-bottom: 1px solid #000000;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    margin-bottom: 5px;
    max-width: 100%;
    box-sizing: border-box;

    &:focus {
        outline: none;
        border-bottom: 2px solid var(--SombraCinza);
        box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
    }

    &:placeholder {
        color: #464646;
        font-style: italic;
    }
}

.form-cont .animado {
    width: 100%;
    margin-top: 2rem;
    font-size: 16px;
}

.animado {
    padding: 10px;
    border: none;
    color: white;
    background-color: var(--VermelhoBase);
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.3s ease;

    &:hover{
        background-color: var(--ResaltoAmarelo);
        color: var(--VermelhoBase);
        letter-spacing: 0.2rem;
    }
}

.animado:hover {
    transform: scale(110%);
}

.animado:active {
    background-color: #000000;
}

.seletor {
    justify-content: center;
    display: flex;
    flex-direction: column;
    height: 1rem;

    #setor {
        border-radius: 2rem;
        border: 3px solid #000000;
        width: 80%;
        transition: transform 0.2s ease ease-in-out;
        outline: none;
        padding: 0.2rem;

        &:active {
            transform: translateY(2px);


        }
    }

}

#principal {
    margin-top: 2rem;
    height: auto;
    display: flex;
    width: 86%;
    margin-left: 7%;
    gap: 5%;
}

#formulario {
    width: 55%;

    div {
        text-align: justify;
        width: 80%;
        margin-left: 10%;

        p {
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;

        }

    }
}

#info {
    background-color: var(--Cinza2);
    width: 30%;
    padding: 0.4rem;

    h2 {
        padding-bottom: 0.7rem;
        color: var(--VermelhoBase);
        text-align: center;

    }

    ul {
        display: flex;
        flex-direction: column;
        font-size: 1rem;
        color: #464646;
        width: 80%;

        p {
            font-weight: 300;
            font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        }
    }
}

/*Responsavidade da página de contatos*/

@media screen and (max-width: 800px) {
    #principal {
        margin-top: 2rem;
        height: auto;
        display: flex;
        width: 90%;
        flex-direction: column;
        margin-left: 5%;

        /*COISA NOVA*/

        .form-cont {
            width: 100%;
            margin: 0;
            margin-top: 2rem;
            padding: 0;
            padding-bottom: 2rem;
            animation: fadein 1.5s ease-in-out;
        }

    }

    /*COISA NOVA*/

    #formulario {
        width: 90%;
        margin-left: 5%;

        div {
            text-align: justify;
            width: 90%;
            margin-left: 5%;

            p {
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }

    #info {
        background-color: var(--Cinza2);
        width: 90%;
        margin-left: 5%;
        padding: 1rem;

        h2 {
            padding-bottom: 0.7rem;
            color: var(--VermelhoBase);
            text-align: center;

        }

        ul {
            display: flex;
            flex-direction: column;
            font-size: 1rem;
            color: #464646;
            width: 80%;

            p {
                font-weight: 300;
                font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
            }
        }
    }
}

/* INICIO DO RODAPE */
.rodape{
    background-color: var(--VermelhoBase);
    width: 100%;
    height: auto;

    .rodape-space{
        height: auto;
        width: 70%;
        margin-left: 15%;

        
        .logo-rodape{
            width: 7rem;
            padding: 10px; 
        }

        .rodape-containers{
            display: flex;
            flex-wrap: wrap;
            justify-content: space-between;
            display: flex;

            .rodape-container{
            color: white;
            padding: 1.1rem;
            display: block;

            .container-titulo{
                font-size: 1.17rem;
                color: white;
            }
            
                /* REDES SOCIAIS*/
                .redes{
                    display: flex;
                    gap: 0.5rem;
                    padding-top: 1rem;

                    .rede-social{
                        height: 2.5rem;
                        width: 2.5rem;
                        color: var(--Branco);
                        align-content: center;
                        text-align: center;
                        border-radius: 50%;
          
                    }

                    #instagram{
                        background: linear-gradient(#7f37c9, #ff2992, #ff9807);
                        transition: 1s;

                        &:hover{
                            background: linear-gradient(#461577, #870e49, #995e0a);
                            color: var(--Cinza2);
                        }
                    }

                    #facebook{
                        background-color: #426bb3;
                        transition: 1s;

                        &:hover{
                            background-color: #213e6f;
                            color: var(--Cinza2);
                        }
                    }

                    #whatsapp{
                        background-color: #25d366;
                        transition: 1s;

                        &:hover{
                            background-color: #16843e;
                            color: var(--Cinza2);
                        }
                    }

                    #discord{
                        background-color: #0056c7;
                        transition: 1s;

                        &:hover{
                            background-color: #213e6f;
                            color: var(--Cinza2);
                        }
                    }
                }
            }

            /* LINKS IMPORTANTES*/
            .lista-links{
                margin-top: 1rem;
                display: flex;
                flex-direction: column;
                gap: 1.2rem;
                li{
                    list-style-type: none;
                    
                    a{
                        text-decoration: none;
                        color: var(--Branco);
                        font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
                        transition: 0.5s;

                        &:hover{
                            color: var(--Ciano);
                        }
                    }
                }
            }

            /* NEWS LETTER*/
            .news{
                margin-top: 1rem;
                background-color: var(--Branco);
                width: 100%;
                padding: 1.2rem;
                border-radius: 10px;    

                .news-lab{
                    color: var(--SombraCinza);
                }

                .news-input{
                    padding: 0.2rem;
                    margin: 0.4rem 0;
                    width: 100%;
                    border-radius: 10px;
                    padding: 0.4rem;
                    font-family: 'Courier New', Courier, monospace;
                    font-weight: 900;

                    &:focus{
                        outline: none;
                        background-color: var(--Cinza2);
                        color: var(--VermelhoBase);
                    }
                }

                .news-btn{
                    width: 100%;
                    height: 1.8rem;
                    background-color: var(--VermelhoBase);
                    border: none;
                    color: var(--Branco);
                    border: none;
                    cursor: pointer;
                    transition: 0.5s;
                    border-radius: 10px;

                    &:hover{
                        background-color: var(--ResaltoAmarelo);
                        color: var(--VermelhoBase);
                        letter-spacing: 0.2rem;
                    }

                }
            }
        }
    }
}

    /* DIREITOS RESERVADOS */
.dir{
    text-align: center;
    color: var(--Branco);
    font-size: 0.7rem;
    height: 5rem;
    align-content: center;
    padding-bottom: 1.5rem;
    
    .dir-marca{
        padding-bottom: 0.5rem;
        font-family: 'Courier New', Courier, monospace;
        font-weight: 900;
        font-size: 0.8rem;
    }

    .dir-reservados{
        font-family: 'Courier New', Courier, monospace;
        
    }
}
/* FIM DO RODAPE */