@font-face{
    font-family: Vampire-sans;
    src: url("../fontes_de_letra/PirataOne-Regular.ttf");
}

.navegacao{
    background: #b81515;    
    padding: 5px;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px #000000;
}
.navegacao a{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin: 0 auto;
}
#logo{
    cursor: pointer;
}

.navegacao a:hover{
    color: orange;
}

/* Estilização da página contato.html*/

form{
    max-width: 400px;
    margin: 20px;
    padding: 20px 40px 15px 20px;
    background-color: #F2C40D ;
    border: 2px solid #000000;
    border-radius: 10px;
    animation: fadein 1.5s ease-in-out;
}
@keyframes fadein {
from{
opacity: 0;

}    
to{
opacity: 1;

}
}

form input[type="text"]{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: background-color 300ms ease;
}
form input[type="text"]:active{
    background-color: #808080;
    outline: none;
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}

textarea{
    border: 2px solid #000000;
    width: 100%;
    padding: 10px;
    font-size: 16px;
    transition: background-color 300ms ease ;
    border-radius: 10px;
    margin-bottom: 5px;
    resize: none;
}
textarea:active{
    background-color: #808080;
    outline: none;
}
form .animado{
    width: 60%;
    font-size: 16px;
}

.animado{
    padding: 10px;
    border: none;
    color: white;
    background-color: #800c0c;
    border-radius: 5px;
    cursor: pointer;
    transition: transform 1s ease, background-color 0.3s ease;
}
.animado:hover{
    transform: scale(1.1);
}
.animado:active{
    background-color: #000000;
}

h1{
    text-align: center;
}



.div-1{
    background-color: rgba(255, 255, 255, 0.527);
    width: 88%;
    display: flex;
    align-items: center;
    border-radius: 10px;
    margin: 0 auto;
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
}

.div-2{
    align-self: baseline;
    width: 250px;
    text-align: justify;
}


div{

    width: 250px;
    display: flex;
    align-items: center;

    padding: 1rem;

    flex-direction: column;
    border-radius: 10px;
}


body{
    background-image: url(../images/BLOCOS.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

.nós{
    font-family: Vampire-sans;
}