*{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
}

:root{
    --VermelhoBase: #b81515;
    --VermelhoClaro: #db6161;
    --ResaltoAmarelo: #ffc83c;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Cinza2: #e9e9e9;
    --Ciano: #00ffff;
    --SombraCinza: #464646;
}

body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(../images/fundos/fundo3.jpg);
    background-size: cover;
    background-position: center;
}

.container{
    width: 30rem;
    background: transparent;
    border: 2px solid var(--Cinza2);
}