* {
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    box-sizing: border-box;
}

:root {
    --VermelhoBase: #b81515;
    --VermelhoClaro: #db6161;
    --ResaltoAmarelo: #ffc83c;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Cinza2: #e9e9e9;
    --Ciano: #00ffff;
    --SombraCinza: #464646;
}

.fundo {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #12121233;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    min-height: 100vh;
    background: url(../images/fundos/fundo3.jpg);
    background-size: cover;
    background-position: center;
}

.container {
    width: 28rem;
    background: var(--Branco);
    border: 2px solid var(--Cinza2);
    border-radius: 10px;
    color: var(--VermelhoBase);
    padding: 2rem 3rem;
    box-shadow: 0 0 10px var(--VermelhoBase);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transition: .30s ease;

    h2 {
        font-size: 3rem;
        text-align: center;
    }

    img {
        width: 20rem;
        padding: 1rem 0;
    }

    .input-box {
        position: relative;
        width: 100%;
        height: 3rem;
        margin: 1.2rem 0;
        display: flex;

        input {
            width: 100%;
            height: 100%;
            color: var(--VermelhoBase);
            border: 2px solid var(--VermelhoBase);
            border-radius: 40px;
            outline: none;
            font-size: 1.2rem;
            padding: 1rem 0.8rem 1rem 1rem;
            transition: 1s;

            &::placeholder {
                color: #bd292956;
            }
        }

        i {
            position: absolute;
            right: 20px;
            font-size: 1.3rem;
            top: 50%;
            transform: translateY(-50%);
        }

    }

    .lembra-esquece {
        display: flex;
        justify-content: space-between;

        label input {
            accent-color: var(--VermelhoBase);
            margin-right: 0.2rem;
        }

        a {
            text-decoration: none;
            color: var(--VermelhoBase);

            &:hover {
                text-decoration: underline;
            }
        }
    }

    .login {
        width: 100%;
        margin: 1rem 0;
        height: 2.2rem;
        border: none;
        border-radius: 40px;
        background-color: var(--VermelhoBase);
        color: var(--Branco);
        font-size: 1rem;
        cursor: pointer;
        transition: 0.5s;

        &:hover {
            background-color: var(--ResaltoAmarelo);
            letter-spacing: 0.2rem;
        }
    }

    .registro {
        text-align: center;

        a {
            text-decoration: none;
            color: var(--VermelhoBase-);

            &:hover{
                text-decoration: underline;
            }
        }
    }
}