*{
    margin: 0;
    padding: 0;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

:root{
    --VermelhoBase: #b81515;
    --VermelhoClaro: #db6161;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Ciano: #00ffff;
    --SombraCinza: #464646;
}

/* INÍCIO DO HEADER*/
header{
    background-color: var(--VermelhoBase);
    height: auto;
    box-shadow: 0 3px 10px var(--SombraCinza);
}

.div-logo{
    text-align: center;
}

.elite-logo{
    width: 18rem;
    padding: 1.5rem 0;
}

.nav-bar{
    display: flex;
    padding: 1rem 3rem;
    justify-content: space-between;
    align-items: center;

    .nav-bar-links{
        width: 80%;
    }

    ul{
        list-style: none;
        display: flex;
        gap: 2.5rem;
        justify-content: space-between;

        a{
            text-decoration: none;
            font-size: 1.3rem;
            color: var(--Branco);
            transition: 0.5s;
            
            &:hover{
            color: var(--Ciano);
            }
        }
    }

    .entrar-btn button{
        border: none;
    background-color: var(--Branco);
    padding: 0.625rem 0.938rem;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.5s;
    
    a{
        text-decoration: none;
        color: var(--VermelhoBase);
        font-size: 1.1rem;
    }

    &:hover{
        background-color: var(--SombraCinza);

        a{
            color: var(--Branco);
        }
    }
    }
}

.mobile-btn{
    display: none;
}

.mobile-menu{
    display: none;
}

/* DESIGN MOBILE*/
@media screen and (max-width: 770px){
    .nav-bar-links{
        display: none;
    }

    .mobile-btn{
        display: block;

        button{
            background-color: transparent;
            border: none;
            cursor: pointer;
        }
    }

    .mobile-menu{
        ul{
            display: flex;
            flex-direction: column;
            text-align: center;
            padding-bottom: 1rem;

            li{
                padding-top: 1.2rem;
            }

            a{
                font-size: 1.3rem;
                color: var(--Branco);
                text-decoration: none;
                transition: 0.5s;

                &:hover{
                    color: var(--Ciano);
                }
            }
        }
    }

    .open{
        display: block;
        position: relative;
        z-index: 10;
    }
    /*FIM DO MENU RESPONSIVO*/
}


/* INICIO DO FOOTER*/
.rodape{
    background-color: var(--SombraCinza);
    width: 100%;
    height: auto;
    position: absolute;
    bottom: 0;
    box-shadow: 0 -3px 10px var(--SombraCinza);

    .rodape-containers{
            height: 300px;
            width: 80%;
            margin-left: 10%;
            margin-top: 2rem;
            border: 1px solid var(--Branco);
        
            .logo-rodape{
                width: 7rem;
                padding: 10px;
            }
        }

    .dir{
        text-align: center;
        color: var(--Branco);
        font-size: 0.7rem;
        height: 3rem;
        align-content: center;
        margin-bottom: 1.5rem;
        
        
        .dir-marca{
            padding-bottom: 0.5rem;
            font-family: 'Courier New', Courier, monospace;
            font-weight: 900;
            font-size: 0.8rem;
        }

        .dir-reservados{
            font-family: 'Courier New', Courier, monospace;
            
        }
    }
}
/* FIM DO FOOTER*/