.navegacao{
        background: #b81515;
    padding: 10px;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    
}
.navegacao a{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    align-content: center;
}
.navegacao a:hover{
    color: orange;
}
/* Estilização da página contato.html*/

form{
    max-width: 400px;
    margin: 20px;
    padding: 20px 40px 15px 20px;
    background-color: #F2C40D ;
    border: 1px solid #000000;
    border-radius: 10px;
    box-shadow:0.2px 6px rgba(red 0px , green 0px , blue 0px , alpha 0.2px);
    animation: fadein 1s ease-in-out;
}

@keyframes fadein {
from{
opacity: 0;

}    
to{
opacity: 1;

}
}

label{
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
    color: #000000;
    font-size: 16px;
}
form input[type="text"]{
    width: 100%;
    padding: 5px;
    font-size: 16px;
    margin-bottom: 5px;
    border-radius: 10px;
    transition: border-color 0.3s;
}

form input[type="text"]:focus{
    border-color: #333333;
    outline: none;
}

textarea{
    width: 100%;
    padding: 10px;
    font-size: 16px;
}