.navegacao{
    background: #b81515;    
    padding: 5px;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
    box-shadow: 0px 0px 15px #000000;
}
.navegacao a{
    color: aliceblue;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    text-decoration: none;
    margin: 0 auto;
}
#logo{
    cursor: pointer;
}

.navegacao a:hover{
    color: orange;
}
