* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Transforma a Logo em um objeto clicável, serve de atalho para a home*/
#logo {
  cursor: pointer;
}

/*PALETA DE CORES DO SITE*/
:root{
    --VermelhoBase: #b81515;
    --VermelhoClaro: #db6161;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Ciano: #00ffff;
    --SombraCinza: #464646;
}

/* HEADER DO SITE*/
header{
    background-color: var(--VermelhoBase);
    height: 7.5rem;
    box-shadow: 0 3px 10px var(--SombraCinza);
}

.nav-bar{
    display: flex;
    padding: 1.5rem 3rem;
    justify-content: space-between;
}

.logo-icon{
    display: flex;
    align-items: center;

    #logo{
        width: 10rem;
    }
}

.nav-list{
    display: flex;
    align-items: center;
}

ul{
    list-style: none;
    display: flex;
    justify-content: center;
    gap: 2rem;

    .nav-link{
        text-decoration: none;
        font-size: 1.3rem;
        font-weight: 600;
        color: var(--Branco);
        transition: 0.5s;

        &:hover{
          color: var(--Ciano);
        }
    }
}

.nav-button{
    align-content: center;
}

.login-button{
    border: none;
    background-color: var(--Branco);
    padding: 0.625rem 0.938rem;
    border-radius: 5px;
    transition: 0.5s;

    a{
        text-decoration: none;
        color: var(--VermelhoBase);
        font-size: 1.1rem;
    }

    &:hover{
                background-color: var(--SombraCinza);

                a{
                    color: var(--Branco);
                }
            }
}

.mobile-menu-icon{
    display: none;
    align-content: center;

    button{
            background-color: transparent;
            border: none;
            cursor: pointer;
            
        }
}

.mobile-menu{
    display: none;
    background-color:  var(--VermelhoBase);
    box-shadow: 0 3px 5px var(--SombraCinza);
}

/*MENU RESPONSIVO*/
@media screen and (max-width: 870px){
   .nav-bar{
        padding: 1.5rem 3rem;
   }

       .nav-item{
        display: none;
    }

    .login-button{
        display: none;
    }

    .mobile-menu-icon{
        display: block;
    }

    .mobile-menu ul{
        display: flex;
        flex-direction: column;
        text-align: center;
        padding-bottom: 1rem;
    }

    .mobile-menu .nav-item{ 
        display: block;
        padding-top: 1,2rem;
    }

    .mobile-menu .login-button-2{
        display: block;
        padding: 1rem 2rem;
        border: none;
    
        button{
            width: 100%;
            height: 2rem;
            border: none;
            border-radius: 10px;
            transition: 0.5s;

            a{
                text-decoration: none;
                color: var(--VermelhoBase);
                font-size: 1.2rem;
            }
            
            &:hover{
                background-color: var(--SombraCinza);

                a{
                    color: var(--Branco);
                }
            }
        }
    }

    .open{
        display: block;
        position: relative;
        z-index: 10;
    }
    /*FIM DO MENU RESPONSIVO*/
}
/*FIM DO HEADER DO SITE*/

/* CABEÇALHO DE TRABALHE CONOSCO */
h1 {
  text-align: center;
  margin-top: 80px;
}

/* CONTAINER DE PESQUISA */
.container-pesquisa {
  display: flex;
  justify-content: center;
}

.container-pesquisa input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 20%;
}

.container-pesquisa button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #b81515;
  border-radius: 0 5px 5px 0;
  background-color: #b81515;
  color: #fff;
  cursor: pointer;
}

.container-pesquisa button:hover {
  background-color: #cfbcb6;
  color: #000000;
}

/* CONTAINER DE VAGAS */
.vagas-cards {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  animation: fadein 2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* DESCRIÇÃO DA VAGA */
.vaga-descricao {
  width: 30rem;
  text-align: center;
  padding: 1rem;
  background-color: #cfbcb6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.vaga-descricao:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  transition: transform 5s ease-in-out;
}

.vaga-descricao img {
  width: 30rem;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.vaga-descricao h4 {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
}

.vaga-descricao button {
  padding: 10px 15px;
  font-size: 17px;
  background-color: #b81515;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vaga-descricao button:hover {
  background-color: #c26106;
}

/* DETALHES DA VAGA */
#containerVaga {
  
  margin: 25px;
  font-size: 22px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(207, 188, 182);
}

#detalhesDaVaga {
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  margin: 35px 25px;
  width: 90%;
  position: relative;
}

.btn-candidatar {
  padding: 10px 15px;
  font-size: 17px;
  background-color: #b81515;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-candidatar:hover {
  background-color: #c26106;
}
