* {
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


.navegacao{
    background: #b81515;
    padding: 5px;
    position: fixed;
    display: flex;
    align-items: center;
    left: 0;
    top: 0;
    width: 100%;
}
.navegacao a{
    color: aliceblue;
    text-decoration: none;
    margin: 0 auto;
}
.navegacao a:hover{
    color: orange;
}

h1 {
    text-align: center;
    margin-top: 80px;
}

.container-pesquisa {
    display: flex;
    justify-content: center;
}

.container-pesquisa input {
    padding: 10px;
    font-size: 16px;
    border: 1px solid #000000;
    border-radius: 5px 0 0 5px;
    width: 20%;
}

.container-pesquisa button {
    padding: 10px 20px;
    font-size: 16px;
    border: none;
    border-radius: 0 5px 5px 0;
    background-color: #b81515;
    color: #fff;
    cursor: pointer;
}

.container-pesquisa button:hover {
    background-color: #cfbcb6;
    color: #000000;
}

.vagas-cards {
    margin: 15px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.vaga-descricao {
    width: 30rem;
    text-align: center;
    padding: 1rem;
    background-color: #cfbcb6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.vaga-descricao:hover {
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
    transition: transform 1s ease;
}

.vaga-descricao img {
    width: 30rem;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
}

.vaga-descricao h4 {
    margin: 10px 0;
    font-size: 1.1rem;
    font-weight: bold;
    color: #222;
}

.vaga-descricao button {
    padding: 10px 15px;
    font-size: 15px;
    background-color: #b81515;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.vaga-descricao button:hover {
  background-color: #1e4fd0;
}