* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Transforma a Logo em um objeto clicável, serve de atalho para a home*/
#logo {
  cursor: pointer;
}

/*PALETA DE CORES DO SITE*/
:root {
  --VermelhoBase: #b81515;
  --VermelhoClaro: #db6161;
  --ResaltoAmarelo: #ffc83c;
  --Branco: #FFFFFF;
  --VermelhoEscuro: #630505;
  --Preto: #121212;
  --Cinza: rgba(255, 255, 255, 0.5);
  --Cinza2: #e9e9e9;
  --Ciano: #00ffff;
  --SombraCinza: #464646;
}

/* HEADER DO SITE*/
header {
  background-color: var(--VermelhoBase);
  height: 7.5rem;
  box-shadow: 0 3px 10px var(--SombraCinza);
}

.nav-bar {
  display: flex;
  padding: 1.5rem 3rem;
  justify-content: space-between;
}

.logo-icon {
  display: flex;
  align-items: center;

  #logo {
    width: 10rem;
  }
}

.nav-list {
  display: flex;
  align-items: center;
}

ul {
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 2rem;

  .nav-link {
    text-decoration: none;
    font-size: 1.3rem;
    font-weight: 600;
    color: var(--Branco);
    transition: 0.5s;

    &:hover {
      color: var(--Ciano);
    }
  }
}

.nav-button {
  align-content: center;
}

.login-button {
  border: none;
  background-color: var(--Branco);
  padding: 0.625rem 0.938rem;
  border-radius: 5px;
  transition: 0.5s;
  cursor: pointer;

  a {
    text-decoration: none;
    color: var(--VermelhoBase);
    font-size: 1.1rem;
  }

  &:hover {
    background-color: var(--ResaltoAmarelo);

    a {
      color: var(--Preto);
    }
  }
}

.mobile-menu-icon {
  display: none;
  align-content: center;

  button {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}

.mobile-menu {
  display: none;
  background-color: var(--VermelhoBase);
  box-shadow: 0 3px 5px var(--SombraCinza);
}

/*MENU RESPONSIVO*/
@media screen and (max-width: 870px) {
  .nav-bar {
    padding: 1.5rem 3rem;
  }

  .nav-item {
    display: none;
  }

  .login-button {
    display: none;
  }

  .mobile-menu-icon {
    display: block;
  }

  .mobile-menu ul {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding-bottom: 1rem;
  }

  .mobile-menu .nav-item {
    display: block;
    padding-top: 1, 2rem;
  }

  .mobile-menu .login-button-2 {
    display: block;
    padding: 1rem 2rem;
    border: none;

    button {
      width: 100%;
      height: 2rem;
      border: none;
      border-radius: 10px;
      transition: 0.5s;
      cursor: pointer;

      a {
        text-decoration: none;
        color: var(--VermelhoBase);
        font-size: 1.2rem;
        transition: 0.5s;
      }

      &:hover {
        background-color: var(--ResaltoAmarelo);

        a {
          color: var(--Preto);
          letter-spacing: 0.2rem;
        }
      }
    }
  }

  .open {
    display: block;
    position: relative;
    z-index: 10;
  }

  /*FIM DO MENU RESPONSIVO*/
}

/*FIM DO HEADER DO SITE*/

/* CABEÇALHO DE TRABALHE CONOSCO */
h1 {
  text-align: center;
  margin-top: 80px;
  margin-bottom: 15px;
}

/* CONTAINER DE PESQUISA */
.container-pesquisa {
  display: flex;
  justify-content: center;
}

.container-pesquisa input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 20%;
}

.container-pesquisa button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #b81515;
  border-radius: 0 5px 5px 0;
  background-color: #b81515;
  color: #fff;
  cursor: pointer;
}

.container-pesquisa button:hover {
  background-color: #cfbcb6;
  color: #000000;
}

/* CONTAINER DE VAGAS */
.vagas-cards {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 15px;
  animation: fadein 2s ease-in-out;
  margin-top: 1rem;
  margin-bottom: 3rem;
}

@keyframes fadein {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}

/* DESCRIÇÃO DA VAGA */
.vaga-descricao {
  width: 22rem;
  text-align: center;
  padding: 10px;
  background-color: #cfbcb6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 8px;
  transition: 1s ease-out;

  & img {
    width: 20rem;
    object-fit: cover;
    aspect-ratio: 16/9;
    border-radius: 10px;
  }

  & h4 {
    margin: 10px 0;
    font-size: 18px;
    font-weight: bold;
    color: #222;
  }

  & button {
    padding: 8px 10px;
    font-size: 16px;
    background-color: #b81515;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }

  & button:hover {
    background-color: #c26106;
  }
}

.vaga-descricao:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  transition: transform 5s ease-in-out;
}

/* BLOCO DE DETALHES DA VAGA */
#containerVaga {
  display: none;
  position: absolute;
  margin: auto;
  font-size: 20px;
  left: 0;
  right: 0;
  bottom: 0;
  top: 8rem;
  z-index: 10;
  width: 34%;
  height: 38%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(207, 188, 182);
}

.btn-fechar-vaga {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 25px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.btn-fechar-vaga:hover {
  background-color: #b81515;
  color: #fff;
  padding: 1px 5px;
  border-radius: 5px;
}

#detalhesDaVaga {
  padding: 18px;
  border-radius: 8px;
  max-width: 600px;
  margin: 35px 25px;
  position: relative;
}

.btn-candidatar {
  padding: 10px 15px;
  font-size: 18px;
  background-color: #b81515;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-candidatar:hover {
  background-color: #c26106;
}

@media screen and (max-width: 1250px) {
  #containerVaga {
    width: 42%;
    height: 42%;
  }
}

@media screen and (max-width: 1024px) {
  #containerVaga {
    width: 45%;
    height: 42%;
    font-size: 17px;
  }
}

@media screen and (max-width: 880px) {
  .vagas-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
  }

  .vaga-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 78%;
    height: 82%;
    margin-inline: 10px;

    & h4 {
      font-size: 14px;
    }

    & img {
      width: 200px;
    }

    & button {
      font-size: 14px;
      width: 8rem;
    }
  }

  #containerVaga {
    width: 48%;
    height: 38%;
    font-size: 17px;
  }

  #detalhesDaVaga {
    padding: 15px;
  }
}

/* RESPONSIVIDADE DO PAINEL DE VAGAS */
@media screen and (max-width: 768px) {
  h1 {
    font-size: 28px;
  }

  .container-pesquisa {
    margin: 25px;

    & input {
      width: 50%;
      padding: 8px 8px;
      font-size: 14px;
    }

    & button {
      padding: 8px 8px;
      font-size: 14px;
    }
  }

  .vagas-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 8px;
  }

  .vaga-descricao {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-inline: 10px;
    width: 75%;
    height: 80%;


    & h4 {
      font-size: 13.5px;
    }

    & img {
      width: 165px;
    }

    & button {
      font-size: 13px;
      width: 8rem;
      padding: 8px 10px;
    }
  }

  #containerVaga {
    width: 50%;
    height: 35%;
    font-size: 15px;
  }

  .btn-fechar-vaga {
    font-size: 20px;
  }
}

@media screen and (max-width: 630px) {
  h1 {
    font-size: 28px;
  }

  .container-pesquisa {
    margin: 25px;

    & input {
      width: 50%;
      padding: 8px 10px;
      font-size: 14px;
    }

    & button {
      padding: 8px 10px;
      font-size: 14px;
    }
  }

  .vagas-cards {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

  .vaga-descricao {
    width: 75%;
    height: 80%;

    & img {
      width: 185px;
    }

    & button {
      width: 10rem;
      padding: 7px 10px;
      font-size: 12.2px;
    }
  }

  #containerVaga {
    width: 55%;
    height: 37%;
  }
}

@media screen and (max-width: 570px) {
  #containerVaga {
    width: 68%;
    height: 33%;
  }
}

@media screen and (max-width: 480px) {
  h1 {
    font-size: 25px;
    margin-top: 40px;
  }

  .container-pesquisa {
    margin: 20px;

    & input {
      width: 53%;
      padding: 6px 10px;
      font-size: 13px;
    }

    & button {
      padding: 6px 10px;
      font-size: 13px;
    }
  }

  .vaga-descricao {
    padding: 9px 10px;
    right: 0;
    left: 0;

    & h4 {
      font-size: 12px;
      margin: 5px 1px;
    }

    & img {
      width: 140px;
    }

    & button {
      width: 7rem;
      padding: 5px 7px;
      font-size: 11px;
    }
  }

  #containerVaga {
    width: 65%;
    height: 24%;
    font-size: 12px;
  }

  .btn-fechar-vaga {
    font-size: 17px;
  }

  #detalhesDaVaga {
    padding: 5px;
    width: 80%;
    margin: 18px 15px;
  }

  .btn-candidatar {
    padding: 6px 10px;
    font-size: 14px;
    margin-top: 8px;
  }
}

/* INICIO DO RODAPE */
.rodape {
  background-color: var(--VermelhoBase);
  width: 100%;
  height: auto;

  .rodape-space {
    height: auto;
    width: 70%;
    margin-left: 15%;


    .logo-rodape {
      width: 7rem;
      padding: 10px;
    }

    .rodape-containers {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      display: flex;

      .rodape-container {
        color: white;
        padding: 1.1rem;
        display: block;

        .container-titulo {
          font-size: 1.17rem;
          color: white;
        }

        /* REDES SOCIAIS*/
        .redes {
          display: flex;
          gap: 0.5rem;
          padding-top: 1rem;

          .rede-social {
            height: 2.5rem;
            width: 2.5rem;
            color: var(--Branco);
            align-content: center;
            text-align: center;
            border-radius: 50%;

          }

          #instagram {
            background: linear-gradient(#7f37c9, #ff2992, #ff9807);
            transition: 1s;

            &:hover {
              background: linear-gradient(#461577, #870e49, #995e0a);
              color: var(--Cinza2);
            }
          }

          #facebook {
            background-color: #426bb3;
            transition: 1s;

            &:hover {
              background-color: #213e6f;
              color: var(--Cinza2);
            }
          }

          #whatsapp {
            background-color: #25d366;
            transition: 1s;

            &:hover {
              background-color: #16843e;
              color: var(--Cinza2);
            }
          }

          #discord {
            background-color: #0056c7;
            transition: 1s;

            &:hover {
              background-color: #213e6f;
              color: var(--Cinza2);
            }
          }
        }
      }

      /* LINKS IMPORTANTES*/
      .lista-links {
        margin-top: 1rem;
        display: flex;
        flex-direction: column;
        gap: 1.2rem;

        li {
          list-style-type: none;

          a {
            text-decoration: none;
            color: var(--Branco);
            font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
            transition: 0.5s;

            &:hover {
              color: var(--Ciano);
            }
          }
        }
      }

      /* NEWS LETTER*/
      .news {
        margin-top: 1rem;
        background-color: var(--Branco);
        width: 100%;
        padding: 1.2rem;
        border-radius: 10px;

        .news-lab {
          color: var(--SombraCinza);
        }

        .news-input {
          margin: 0.2rem 0;
          width: 94%;
          border-radius: 10px;
          padding: 0.4rem;
          font-family: 'Courier New', Courier, monospace;
          font-weight: 900;

          &:focus {
            outline: none;
            background-color: var(--Cinza2);
            color: var(--VermelhoBase);
          }
        }

        .news-btn {
          width: 100%;
          height: 1.8rem;
          background-color: var(--VermelhoBase);
          border: none;
          color: var(--Branco);
          border: none;
          cursor: pointer;
          transition: 0.5s;
          border-radius: 10px;

          &:hover {
            background-color: var(--ResaltoAmarelo);
            color: var(--VermelhoBase);
            letter-spacing: 0.2rem;
          }

        }
      }
    }
  }
}

/* DIREITOS RESERVADOS */
.dir {
  text-align: center;
  color: var(--Branco);
  font-size: 0.7rem;
  height: 5rem;
  align-content: center;
  padding-bottom: 1.5rem;

  .dir-marca {
    padding-bottom: 0.5rem;
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: 0.8rem;
  }

  .dir-reservados {
    font-family: 'Courier New', Courier, monospace;

  }
}

/* FIM DO RODAPE */