* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Transforma a Logo em um objeto clicável, serve de atalho para a home*/
#logo {
  cursor: pointer;
}

/*PALETA DE CORES DO SITE*/
:root {
  --VermelhoBase: #b81515;
  --Branco: #ffffff;
  --VermelhoEscuro: #630505;
  --Preto: #121212;
  --Cinza: rgba(255, 255, 255, 0.5);
  --Ciano: #00ffff;
}

/* CABEÇALHO DO SITE*/
.cabecalho-back {
  background-color: var(--VermelhoBase);
  height: 120px;
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
}

.cabecalho-back-2 {
  height: 80px;
  width: 100%;
  margin: 1.5em 1.5em;
  display: flex;
  flex-direction: row;
  gap: 10px;
  align-items: cen;
}

/* IMAGEM CABEÇALHO*/
.cabecalho-img {
  width: 20%;
  text-align: center;
}

.cabecalho-img img {
  width: 10rem;
}
/* IMAGEM CABEÇALHO*/

/* NAVEGAÇÃO */
.cabecalho-nav {
  width: 55%;
}

.cabecalho-naveg {
  display: flex;
  justify-content: space-around;
  margin-top: 2em;
}

.cabecalho-nav a {
  text-decoration: none;
  color: var(--Branco);
  font-size: 1.35rem;
  transition: 0.5s;
  font-family: "Times New Roman", Times, serif;
  font-weight: bold;
}

.cabecalho-nav a:hover {
  color: var(--Ciano);
}
/* NAVEGAÇÃO */

/* BARRA DE PESQUISA */
.cabecalho-pesquisa {
  margin-top: 1.5rem;
  width: 25%;
  display: flex;
  justify-content: center;
}

.barra-pesquisa {
  height: 30px;
  width: 15em;
  border: 2px solid var(--Branco);
  border-radius: 20px;
  outline: none;
  background-color: var(--VermelhoEscuro);
  color: var(--Branco);
  padding-left: 1em;
  transition: 0.25s;
}

.cabecalho-pesquisa label {
  position: absolute;
  background: var(--VermelhoEscuro);
  border-radius: 10px;
  color: var(--Branco);
  left: 1em;
  top: 0.45em;
  cursor: text;
}

.barra-pesquisa:hover {
  border: 2px solid var(--Cinza);
}

.barra-pesquisa:focus {
  border: 2px solid var(--Ciano);
}
/* BARRA DE PESQUISA */

/* CABEÇALHO DE TRABALHE CONOSCO */
h1 {
  text-align: center;
  margin-top: 80px;
}

/* CONTAINER DE PESQUISA */
.container-pesquisa {
  display: flex;
  justify-content: center;
}

.container-pesquisa input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 20%;
}

.container-pesquisa button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #b81515;
  border-radius: 0 5px 5px 0;
  background-color: #b81515;
  color: #fff;
  cursor: pointer;
}

.container-pesquisa button:hover {
  background-color: #cfbcb6;
  color: #000000;
}

/* CONTAINER DE VAGAS */
.vagas-cards {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  animation: fadein 2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* DESCRIÇÃO DA VAGA */
.vaga-descricao {
  width: 30rem;
  text-align: center;
  padding: 1rem;
  background-color: #cfbcb6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.vaga-descricao:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  transition: transform 5s ease-in-out;
}

.vaga-descricao img {
  width: 30rem;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.vaga-descricao h4 {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
}

.vaga-descricao button {
  padding: 10px 15px;
  font-size: 17px;
  background-color: #b81515;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vaga-descricao button:hover {
  background-color: #c26106;
}

/* DETALHES DA VAGA */
#containerVaga {
  
  margin: 25px;
  font-size: 22px;
  width: 50%;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  background-color: rgba(207, 188, 182);
}

#detalhesDaVaga {
  padding: 30px;
  border-radius: 8px;
  max-width: 600px;
  margin: 35px 25px;
  width: 90%;
  position: relative;
}

.btn-candidatar {
  padding: 10px 15px;
  font-size: 17px;
  background-color: #b81515;
  border: none;
  color: #ffffff;
  border-radius: 5px;
  cursor: pointer;
  margin-top: 15px;
}

.btn-candidatar:hover {
  background-color: #c26106;
}
