* {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/*Transforma a Logo em um objeto clicável, serve de atalho para a home*/
#logo{
    cursor: pointer;
}

/*PALETA DE CORES DO SITE*/
:root{
    --VermelhoBase: #b81515;
    --Branco: #FFFFFF;
    --VermelhoEscuro: #630505;
    --Preto: #121212;
    --Cinza: rgba(255, 255, 255, 0.5);
    --Ciano: #00ffff;
}

/* CABEÇALHO DO SITE*/
.cabecalho-back{
    background-color: var(--VermelhoBase);
    height: 120px;
    display: flex;
    flex-wrap: wrap;
    margin: 0;
    padding: 0;
}

.cabecalho-back-2{
    height: 80px;
    width: 100%;
    margin: 1.5em 1.5em;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: cen;
}

    /* IMAGEM CABEÇALHO*/
    .cabecalho-img{
        width: 20%;
        text-align: center;
    }

    .cabecalho-img img{
        width: 10rem;
}
    /* IMAGEM CABEÇALHO*/


    /* NAVEGAÇÃO */
    .cabecalho-nav{
        width: 55%;
    }

    .cabecalho-naveg{
        display: flex;
        justify-content: space-around;
        margin-top: 2em;
        
    }

    .cabecalho-nav a{
        text-decoration: none;
        color: var(--Branco);
        font-size: 1.35rem;
        transition: 0.5s;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
    }

    .cabecalho-nav a:hover{
        color: var(--Ciano);
    }
     /* NAVEGAÇÃO */


    /* BARRA DE PESQUISA */
    .cabecalho-pesquisa{
        margin-top: 1.5rem;
        width: 25%;
        display: flex;
        justify-content: center;
    }

    .barra-pesquisa{
        height: 30px;
        width: 15em;
        border: 2px solid var(--Branco);
        border-radius: 20px;
        outline: none;
        background-color: var(--VermelhoEscuro);
        color: var(--Branco);
        padding-left: 1em;
        transition: 0.25s;
    }

    .cabecalho-pesquisa label{
        position: absolute;
        background: var(--VermelhoEscuro);
        border-radius: 10px;
        color: var(--Branco);
        left: 1em;
        top: 0.45em;
        cursor: text;    
    }

    .barra-pesquisa:hover{
        border: 2px solid var(--Cinza);
    }

    .barra-pesquisa:focus{
        border: 2px solid var(--Ciano)
    }
    /* BARRA DE PESQUISA */

h1 {
  text-align: center;
  margin-top: 80px;
}

.container-pesquisa {
  display: flex;
  justify-content: center;
}

.container-pesquisa input {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #ccc;
  border-radius: 5px 0 0 5px;
  width: 20%;
}

.container-pesquisa button {
  padding: 10px 20px;
  font-size: 16px;
  border: 1px solid #b81515;
  border-radius: 0 5px 5px 0;
  background-color: #b81515;
  color: #fff;
  cursor: pointer;
}

.container-pesquisa button:hover {
  background-color: #cfbcb6;
  color: #000000;
}

.vagas-cards {
  margin: 15px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20px;
  animation: fadein 2s ease-in-out;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.vaga-descricao {
  width: 30rem;
  text-align: center;
  padding: 1rem;
  background-color: #cfbcb6;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
}

.detalhes-vaga {
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 5;
}

.vaga-descricao:hover {
  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.8);
  transition: transform 4s ease;
}

.vaga-descricao img {
  width: 30rem;
  object-fit: cover;
  aspect-ratio: 16/9;
  border-radius: 10px;
}

.vaga-descricao h4 {
  margin: 10px 0;
  font-size: 1.1rem;
  font-weight: bold;
  color: #222;
}

.vaga-descricao button {
  padding: 10px 15px;
  font-size: 17px;
  background-color: #b81515;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.vaga-descricao button:hover {
  background-color: #c26106;
}

@media screen and (max-width: 768px) {

  .container-pesquisa {
    flex-direction: row;
    align-items: center;
    gap: 0;
    margin-bottom: 1rem;
  }

  .vagas-cards {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 20px;
    margin: 0 auto;
  }
  .vaga-descricao {
    width: 90%;
    padding: 15px;
    font-size: 0.95rem;
  }
  .vaga-descricao img {
    width: 100%;
    border-radius: 10px;
    aspect-ratio: 16/9;
  }

  .vaga-descricao h4 {
    font-size: 1rem;
    margin: 10px 0;
  }

  .vaga-descricao button {
    font-size: 1rem;
    padding: 12px;
    width: 100%;
  }
  
}